/*
    Grids
------------------------------------------------*/

.grid-items {

	@include media($small-screen-up) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

}

.grid-item {
	margin-bottom: $gutter;

	@include media($small-screen-up) {
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}

}