/*
    Tabs
    - for jquery.appleton-tabs.js
------------------------------------------------*/

$tabs-background-color: $base-background-color;
$tabs-border-radius: $base-border-radius * 2;
$tabs-border-color: $grey-lighter;
$tabs-height: 42px;
$tabs-active-color: $grey-dark;

// Tab bar

.tabs {
	border-bottom: 1px solid $tabs-border-color;
	display: block;
	width: 100%;
	@include clearfix;

	li {
		float: left;
		margin-right: 2px;

		&.active {
			margin-bottom: -1px;

			a {
				&,
				&:hover {
					background-color: $tabs-background-color;
					border: 1px solid $tabs-border-color;
					border-bottom: 0 transparent;
					color: $tabs-active-color;
					cursor: default;
				}

			}
		}
	}

	a {
		border-radius: $tabs-border-radius $tabs-border-radius 0 0;
		display: block;
		font-size: 14px;
		font-size: rem(14);
		font-weight: $font-bold;
		line-height: 1.4;
		padding: em(12) em(20);

		&:hover {
			background-color: darken($tabs-background-color, 5);
		}
	}

}

// Tab panels

.tab-content {

	.tab-pane {
		display: none;
	}

	.active {
		display: block;
	}

}