$m-total: 10;
$p-total: 10;

$horizontal-spacing: $gutter;
$vertical-spacing: $base-spacing;

/*
    Positioning
------------------------------------------------*/

.u-pr {
	position: relative;
}

.u-pa {
	position: absolute;
}

.u-ps {
	position: static;
}

.u-pf {
	position: fixed
}

// Positioning // --------------------------------------------------

.u-p--bl {
	bottom: 0;
	left: 0;
}

.u-p--all {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


/*
    Sizing
------------------------------------------------*/

%u-heightFill {
	height: 100%;
}

.u-sizeFill {
	@include fill-parent;
}

@include media($small-screen-up) {

	.u-heightFill {
		@extend %u-heightFill;
	}
}

/*
    Margins
------------------------------------------------*/

// Top

.mt0 {
	margin-top: 0;
}

%mt05 {
	margin-top: $vertical-spacing / 2;
}

.mt05 {
	@extend %mt05;
}

@for $i from 0 through $m-total {
	%mt#{$i} {
		margin-top: $vertical-spacing * $i;
	}

	.mt#{$i} {
		@extend %mt#{$i};
	}
}

// Right

%mr05 {
	margin-right: $horizontal-spacing / 2;
}

.mr05 {
	@extend %mr05;
}

@for $i from 0 through $m-total {
	%mr#{$i} {
		margin-right: $horizontal-spacing * $i;
	}

	.mr#{$i} {
		@extend %mr#{$i};
	}
}

// Bottom
.mb0 {
	margin-bottom: 0;
}

%mb025 {
	margin-bottom: $vertical-spacing / 4;
}

.mb025 {
	@extend %mb025;
}

%mb05 {
	margin-bottom: $vertical-spacing / 2;
}

.mb05 {
	@extend %mb05;
}

@for $i from 0 through $m-total {
	%mb#{$i} {
		margin-bottom: $vertical-spacing * $i;
	}

	.mb#{$i} {
		@extend %mb#{$i};
	}
}

// Left

%ml05 {
	margin-left: $horizontal-spacing / 2;
}

.ml05 {
	@extend %ml05;
}

@for $i from 0 through $m-total {
	%ml#{$i} {
		margin-left: $horizontal-spacing * $i;
	}

	.ml#{$i} {
		@extend %ml#{$i};
	}
}


// Pulls

@include media($small-screen-up) {
	.u-pullTop {
		margin-top: -$vertical-spacing;
	}
}


@include media($medium-screen-up) {
	.u-pullLeft {
		margin-left: -#{$horizontal-spacing};
	}

	.u-pullRight {
		margin-right: -#{$horizontal-spacing};
	}
}

/*
    Padding
------------------------------------------------*/

.u-inner {
	// @include pad(flex-gutter());
	@include pad($gutter*.6 $gutter);

	&-half {
		@include pad($gutter*.3 $gutter*.5);
	}

	&-extra {
		@include pad($gutter*.8 $gutter);
	}

	@include media($small-screen-up) {

		&-sm {
			@include pad($gutter*.6 $gutter);
		}

	}

	@include media($medium-screen-up) {

		&,
		&-sm {
			@include pad($gutter ($gutter * 1.2));
		}


		&-half {
			@include pad($gutter / 2);
		}

		&-extra {
			@include pad($gutter * 1.5);
		}
	}
}

// Cushion - percentage padding
.u-cushionTop {

	@include media($small-screen-up) {
		&,
		&-sm,
		&-lg {
			padding-top: 5%;
		}
	}

	@include media($medium-screen-up) {
		padding-top: 10%;

		&-sm {
			padding-top: 5%;
		}

		&-lg {
			padding-top: 15%;
		}
	}

	// Short screens
	@include media(min-width $medium-screen max-height 720px 12) {
		padding-top: 7.5%;

		&-sm {
			padding-top: 5%;
		}

		&-lg {
			padding-top: 12.5%;
		}
	}
}

.u-cushionBottom {

	@include media($small-screen-up) {
		&,
		&-sm,
		&-lg {
			padding-bottom: 5%;
		}
	}

	@include media($medium-screen-up) {
		padding-bottom: 10%;

		&-sm {
			padding-bottom: 5%;
		}

		&-lg {
			padding-bottom: 15%;
		}
	}

	// Short screens
	@include media(min-width $medium-screen max-height 720px 12) {
		padding-bottom: 7.5%;

		&-sm {
			padding-bottom: 5%;
		}

		&-lg {
			padding-bottom: 12.5%;
		}
	}
}


// Top
.u-padT0 {
	padding-top: 0;
}

@for $i from 0 through $p-total {
	%u-padT#{$i} {
		padding-top: $vertical-spacing * $i;
	}

	.u-padT#{$i} {
		@extend %u-padT#{$i};
	}
}

// Left
.u-padL0 {
	padding-left: 0;
}

@for $i from 0 through $p-total {
	%u-padL#{$i} {
		padding-left: $horizontal-spacing * $i;
	}

	.u-padL#{$i} {
		@extend %u-padL#{$i};
	}
}

// Right
.u-padR0 {
	padding-right: 0;
}

@for $i from 0 through $p-total {
	%u-padR#{$i} {
		padding-right: $horizontal-spacing * $i;
	}

	.u-padR#{$i} {
		@extend %u-padR#{$i};
	}
}

// Bottom
.u-padB0 {
	padding-bottom: 0;
}

@for $i from 0 through $p-total {
	%u-padB#{$i} {
		padding-bottom: $vertical-spacing * $i;
	}

	.u-padB#{$i} {
		@extend %u-padB#{$i};
	}
}

// All
.u-pad0 {
	padding: 0;
}


/*
    Overflow
------------------------------------------------*/

.u-scrollVertical {
	overflow-x: hidden;
	overflow-y: auto;
}


/*
    Display
------------------------------------------------*/

.u-tabled {
	display: table;
}

.u-tablerowd {
	display: table-row;
}

.u-tablecelld {
	display: table-cell;
}

.u-block {
	display: block;
}

.u-inline {
	display: inline-block;
}

/*
    Floats & Alignment
------------------------------------------------*/

.u-fl {
	float: left;
}

.u-fr {
	float: right;
}

.u-vm {
	vertical-align: middle;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/*
    Rules + Breaks
------------------------------------------------*/

.u-rule {
	border-bottom: $base-border;

	&--dark {
		border-bottom-color: #333;
		border-bottom-color: rgba(#000,.5);
	}

	&--ondark {
		border-bottom-color: rgba(#fff,.25);
	}
}

.u-break {
	border-bottom: $base-border;
	border-bottom-width: 4px;

	&--dark {
		border-bottom-color: $grey-mid;
	}
}

.no-rule {
	border-bottom: 0 transparent;
}

/*
    Caps
------------------------------------------------*/

.u-cap {
	border-top: 4px solid $grey-lightest;

	&--primary {
		border-top-color: $brand-primary;
	}

	&--alt {
		border-top-color: $brand-alt;
	}
}

/*
    Borders + Edges
------------------------------------------------*/

.u-borderR {
	border-right: 1px solid $grey-lightest;

	&--primary {
		border-right-color: $brand-primary;
	}
}

.u-edgeL {
	border-left: 4px solid $brand-primary;

	&--orange {
		border-left-color: $orange;
	}

	&--green {
		border-left-color: $green;
	}
}


/*
    Backgrounds
------------------------------------------------*/

.bg-white {
	background-color: #fff;
}

.bg-subtle {
	background-color: $grey-subtle;
}

.bg-tint {
	background-color: $grey-tint;
}

.bg-light {
	background-color: $grey-lighter;
}

.bg-mid {
	background-color: $grey-light;
}

.bg-dark {
	background: $brand-black;
}

.bg-trans {
	background-color: transparent;
}

// colors

.bg-primary {
	background-color: $brand-primary;

	&-mid {
		background-color: $brand-primary-mid;
	}

	&-dark {
		background-color: $brand-primary-dark;
	}
}

.bg-alt {
	background-color: $brand-alt;

	&-dark {
		background-color: $brand-alt-dark;
	}
}

.bg-orange {
	background-color: $orange;
}

.bg-error {
	background-color: $red;
}

.bg-alert {
	background-color: $yellow;
}

.bg-notice {
	background-color: $blue;
}

.bg-success,
.bg-green {
	background-color: $green;
}


/*
    Effects
------------------------------------------------*/

.u-rounded {
	border-radius: $base-border-radius * 2;
}

.u-bordered {
	border-radius: $base-border-radius * 2;
	border: 1px solid $grey-lighter;
}

.u-raised {
	background: #fff;
	border: 1px solid $grey-lightest;
	border-bottom-color: $grey-lighter;
	box-shadow: rgba($grey-lightest, .75) 0 3px 2px;
	border-radius: $base-border-radius * 2;
}



/*
    Extra
------------------------------------------------*/

%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden,
.sr-only {
	@extend %visuallyhidden;
}

.clearfix {
	@include clearfix;
}

// Touch
.touch {
	.touch-hide {
		display: none !important;
	}
}

// Mobile
@include media($small-screen-up) {
	.mobile-only {
		display: none !important;
	}
}





